<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	{# <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('dashboard') }}"> #}
		<a class="sidebar-brand d-flex align-items-center justify-content-center"> <div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">SB Admin 2</div>
	</a>

	<!-- Divider -->
	<hr
	class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li
		class="nav-item">
		{# <a class="nav-link" href="{{ path('dashboard') }}"> #}
		<a class="nav-link">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span>
		</a>
	</li>


	<!-- Divider -->
	<hr
	class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Interface
	</div>

	<li class="nav-item active">
		<a class="nav-link" href="tables.html">
			<i class="fas fa-fw fa-table"></i>
			<span>Contacts</span>
		</a>
	</li>



	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>
