{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h4>Create new Contact</h4>

    {{ include('contact/_form.html.twig') }}

    <a class="btn btn-danger" href="{{ path('app_contact_index') }}">Back</a>
{% endblock %}
