{% extends 'base.auth.html.twig' %}

{% block body %}
   <div class="container p-5">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Page not found</h1>
                                        <p>Sorry, the page you're looking for doesn't exist.</p>
                                        <a href="{{ path('app_dashboard') }}">Go back to homepage</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>    
{% endblock %}
